<!DOCTYPE html>

<html lang="en-US">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_symbol.png">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <style>
    </style>
    
    <noscript style="display: block;">
        <style type="text/css">
            #pagecontainer * {
                display: none;
            }

            #topbar {
                display: none;

            }
        </style>
        <div class="noscriptmsg font-bold p-30" style="display: block;">
            This site requires Javascript to work, please enable Javascript in your browser or use a browser with Javascript support.
        </div>
    </noscript>
</head>

<body class="pagecontainer" id="pagecontainer">
    <!-- Google Tag Manager (noscript) -->
    <div data-is="app"></app>
</body>

</html>